<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Store</title>
=======
  <title>Rails4Example</title>
>>>>>>> 7dadb2888b541202861cc341e2799ec9d8abf67b
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
